
.whatsapp-header {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--whatsapp-header);
  color: white;
  min-height: 60px;
}

.whatsapp-user-avatar {
  height: 40px;
  width: 40px;
}

.whatsapp-user-info {
  margin-left: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 190px;
}

.whatsapp-back-button {
  display: none;
}

.whatsapp-online-indicator {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 10px;
  width: 10px;
  background-color: var(--whatsapp-online);
  border-radius: 50%;
  border: 2px solid var(--whatsapp-header);
}

.whatsapp-offline-indicator {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 10px;
  width: 10px;
  background-color: var(--whatsapp-offline);
  border-radius: 50%;
  border: 2px solid var(--whatsapp-header);
}

@media (max-width: 768px) {
  .whatsapp-back-button {
    display: flex;
  }
  
  .whatsapp-user-info {
    max-width: 140px;
  }
}

.high-contrast .whatsapp-header {
  background-color: black;
  border-bottom: 1px solid white;
}
