
:root {
  /* Couleurs primaires de WhatsApp */
  --whatsapp-green: #00a884;
  --whatsapp-header: #008069;
  --whatsapp-dark-header: #1f2c34;
  
  /* Couleurs des bulles de message */
  --whatsapp-bubble-me: #d9fdd3;
  --whatsapp-bubble-other: #ffffff;
  
  /* Couleurs d'arrière-plan */
  --whatsapp-chat-background: #efeae2;
  --whatsapp-dark-background: #111b21;
  
  /* Autres couleurs */
  --whatsapp-icon-color: #54656f;
  --whatsapp-divider: #e9edef;
  --whatsapp-online: #00a884;
  --whatsapp-offline: #8696a0;
}

html[data-theme="dark"] {
  --whatsapp-chat-background: #0b141a;
  --whatsapp-bubble-me: #005c4b;
  --whatsapp-bubble-other: #1f2c34;
}
